@keyframes from-right{
    from{
        transform: translateX(100%)
    }
    to{
        transform: translateX(0)
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
}
body{
    overflow-x: hidden;
    width: 100%;
}

.presentation-banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

}

.presentation-banner img{
    width: 100%;
}

.box-actions{
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3%;
    padding-bottom: 12%;

    height: 100%;
    width: 28%;
    background-color: #00000088;

    animation: from-right .8s ease-out forwards;
}

.box-actions h4{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.9rem;
    margin-bottom: 12%;
    font-weight: bolder;
}

.box-actions button{
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 3%;
    cursor: pointer;

    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
    transition: background-color .2s linear;
    transition: border-color .1s linear;
}
.box-actions button:not(:last-child){
    margin-bottom: 3%;
}
.box-actions button:hover{
    border-color: #0062ff;
    background-color: #0062ff;
}
button.strong-button{
    background-color: #fff;
    color: #000000;
}

.banner-text{
    display: block;
    width: 40%;
    color: #ffffff;
    padding: 0 0 1.5% 1.5%;
    
    font-size: .75rem;
    line-height: 1.1rem;

    position: absolute;
    bottom: 0;
    left: 0;
}

main{
    width: 70%;
    margin: 0 auto;
    padding-top: 1vw;
}

.introduction{
    color: #16171a;
    width: 100%;
}

.introduction h1{
    font-size: 4rem;
    margin-top: 6vw;
}

.introduction h2{
    margin-bottom: 6vw;
}

.introduction .content{
    width: 100%;
    display: flex;
}

.introduction .content img{
    width: 47%;
    margin-left: 3vw;
}

/* to create a enpit space  */
.enpit-box{
    height: 100vh;
}
